{% comment %}
This is currently an example schedule. Modify as necessary to fit the workshop.
{% endcomment %}


<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <!-- This is the table for Day 1-->
    <!-- A row is deinfed by a <tr> enclosure, a column entry in that row by a <td> enclosure -->
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>08:45</td>
        <td>Arrival and Initial Setup</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Introduction to the Workshop, R and RStudiok</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Morning Tea</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>Data Visualisation with ggplot2</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Data Visualisation with ggplot2 (Continued)</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Data Visualisation with ggplot2 (Continued)</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td>Wrap-up</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <!-- This is the next table for Day 2-->
    <table class="table table-striped">
      <tr>
        <td>08:45</td>
        <td>Arrival and Initial Setup</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Exploring and Understanding Data</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Morning Tea</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>Exploring and Understanding Data (Continued)</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Working with Data</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Working with Data (Continued)</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a></td>
      </tr>
    </table>
  </div>
</div>